body, html{
  height:100%;
}
body{
  background-image: url(images/galaxy.jpg);
  font-size: 18px;
  margin: 0px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  float:right;
  padding:5px 12px;
}
.topbar{
  background-color: #555;
  height:32px;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.ninja{
  border:10px solid black;
}

.ninjaPic{
  background-image:url(http://www.motoringunderground.com/forum/images/smiles001/ninja_hide_h4h.gif);
}

@-webkit-keyframes spinningH {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -webkit-transform: rotateX(360deg) rotateY(360deg);
  }
}

.spaceship {
  background-image: url(https://lh4.ggpht.com/ebCTWMy66QahSOCj1uuxZ9_ye6jK1sFxJNIqgXPmYDV13WZcDqJ9XtCTRihKQ2icE3mVWc0r5OM4yrlMw8d9rw=s96);
  border: none;
  height: 96px;
  -webkit-transform: rotate3d(0, 0, 1, 15deg);
  width: 96px;
}

.rotate, .spin {
  -webkit-animation : spinningH 6s infinite linear;
}

.twirly {
   border-top: 20px;
   border-right:  25px solid transparent;
   border-bottom: 17.25px  solid;
   border-left:   25px solid transparent;
   display: block;
   margin: 12.5px 0;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
.twirly:before {
   border-right: 7.5px solid transparent;
   border-bottom: 20px solid;
   border-left: 7.5px solid transparent;
   content: '';
   display: block;
   position: absolute;
   top: -11.25px;
   left: -16.25px;
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
.twirly:after {
   border-right: 25px solid transparent;
   border-bottom: 17.5px solid ;
   border-left: 25px solid transparent;
   content: '';
   display: block;
   position: absolute;
   top: .75px;
   left: -25.125px;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
}
